# Tryna organize

log.txt
__package
.VSCodeCounter
dist-react
node_modules
backups/
.env

# Old Stuff to be removed || For other dev:
aplsys_db.sql
dbd.js
components.json
App.css
new

# Ask other dev if this is still needed | possibly deleted
ner_api.spec


# ------ old stuff ------


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


*.map
__tests__/

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron-builder output
*.exe                           # Windows installer
*.dmg                           # macOS installer
*.AppImage                      # Linux installer
*.snap                          # Linux snap package
*.blockmap                      # Used for auto-updates
latest.yml                      # Used for auto-updates
__package/                      # Your custom temp folder for packaging

.env
.env.* 
Thumbs.db
ehthumbs.db